@import url("https://use.typekit.net/awm7jlq.css");

:root {
    --red: #F04E37;
    --nearblack: rgb(40, 40, 40);
    --sidebar: #F04E37;
    --activeProcess: #282828FF;
    --activeProcessB: #FFFFFF;
    --process1: #EDFFBB;
    --process1B: #AE00BD;
    --process2: #3734D3;
    --process2B: #FFD3AA;
    --process3: #EC453A;
    --process3B: #FFF492;
    --process4: #480C95;
    --process4B: #9AFF81;
    --logoColor: #2F2F2F;
}



body {
    font-family: Gibson, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    line-height: 2em;
    color: var(--nearblack)
}


h3 {
    font-weight: 500;
    font-size: 1.3em;
}



h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .1rem;
    line-height: 1em;
}

#sidebar {
    width: 5vw;
    position: fixed;
    left: -5vw;
    top: 0;
    height: 100vh;
    background-color: var(--red);
    z-index: 10;
    transition: all 1s, background-color .3s, border-right .3s;
    cursor: pointer;
}


#sidebar-text {
    position: fixed;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    top: 52%;
    text-transform: uppercase;
    left: -5vw;
    height: 3vw;
    z-index: 20;
    color: white;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: .2rem;
    transition: all 1s, color .3s;
}

.menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: row;
    z-index: 100;
    transform: translateX(-100vw);
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}

.menu-x {
    position: fixed;
    top: 2vh;
    right: 1.5vh;
    height: 50px;
    width: 50px;
    display: none;
    font-size: 40px;
    font-weight: 500;
    color: var(--process3);
    z-index: 200;
    cursor: pointer;
}

.menu-option {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    flex: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
    background-color: blue;
    transition: all .3s linear 0s;
    cursor: pointer;
}

.menu-option span {
    transform-origin: 50% 0;
    transform: rotate(-90deg);
    text-transform: uppercase;
    z-index: 102;
    color: white;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: .2rem;
    transition: all .3s linear 0s;
    text-align: center;
}

.menu-option:hover {
    flex-grow: 2;
}

.menu-option:hover span {
    transform: rotate(0deg) scale(1.3);

}

.m1 {
    background-color:var(--process2)
}

.m1 span {
    color:var(--process2B)
}

.m2 {
    background-color:var(--process1)
}

.m2 span {
    color:var(--process1B)
}

.m3 {
    background-color:var(--process3)
}

.m3 span {
    color:var(--process3B)
}

.m4 {
    background-color:var(--process4)
}

.m4 span {
    color:var(--process4B)
}

.m5 {
    background-color:var(--process2B)
}

.m5 span {
    color:var(--process2)
}

.m6 {
    background-color:var(--process1B)
}

.m6 span {
    color:var(--process1)
}

.m7 {
    background-color:var(--process3B)
}

.m7 span {
    color:var(--process3)
}

/*#m1, #m2, #m3, #m4, #m5, #m6, #m7 {*/
/*    transition: transform 1s*/
/*}*/

.logo {
    width: 10vw;
    position: absolute;
    left: 2vw;
    top: 2vw;
    height: 5vw;
}

.bb-logo {
    position: fixed;
    width: 2.5vw;
    height: 3vw;
    left: -5vw;
    top: 1.5vw;
    z-index: 200;
    transition: .5s;
}


.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.hero {
    width: 40vw;
    position: absolute;
    left: 10vw;
    top: 38vh;
    justify-items: center;
    margin: auto auto;
    z-index: 3;
}

.column {
    flex: 50%;
}

.text-column {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.hero-text {
    margin: auto 0;
    font-weight: 600;
    line-height: 150%;
    font-size: max(2.7vw, 40px);
    vertical-align: middle;
}

.hero-text span {
    color: var(--red);
    display: inline-block;
}

.changing {
    position: absolute;
    margin: auto;
}

.letter {
    transform-origin: 0 0;
}


.video-logo-container {
    width: 100%;
    position: absolute;
    height: 100%;
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% calc(100% + 100px));
}

.video-logo-wrapper {
    width: 30vw;
    position: fixed;
    right: 12%;
    top: 50%;
    transform: translate(0, -50%);
    height: calc(30vw * .56);
}

.video-logo {
    width: 100%;
    clip-path:url(#logo-clip);
    height: 100%;
}





/*#logo-clip-container {*/
/*    height: 0px;*/
/*    width: 0px;*/
/*}*/
@keyframes expandClip {
    0% {
        clip-path: inset(0% 95% 28% 5% round 5px)
    }
    100% {
        clip-path: inset(0% 0% 28% 0% round 5px)
    }
}

#video {
    width: 30vw;
    height: calc(30vw * .56);
    object-fit: cover;
    transition: clip-path .3s;
    border-radius: 15px;
}

#expandRect {
    transition: width .3s;
}


.white-logo-container {
    width: 100%;
    position: absolute;
    height: 100%;
    clip-path: polygon(0 0, 100% calc(0% - 100px), 100% 100%, 0% 100%);
    z-index: 100;
}

.white-logo-wrapper {
    width: 30vw;
    position: fixed;
    right: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: calc(30vw * .56);
    z-index: 100;
}

#white-logo {
    width: 100%;
    height: 100%;
}


#logoCanvas {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 100;
    clip-path: polygon(0 calc(0% - 100px), 100% 0%, 100% 100%, 0% 100%)
}

canvas {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 calc(0% - 100px), 100% 0%, 100% 100%, 0% 100%)
}


.p2 {
    position: relative;
    /*top: -20vh;*/
    height: 130vh;
    background-color: var(--nearblack);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    /*align-items: center;*/
    clip-path: polygon(0 calc(0% + 100px), 100% 0%, 100% 100%, 0% 100%);
    /*cursor: none;*/
}


/*.p2:before {*/
/*    content:"";*/
/*    position:absolute;*/
/*    z-index:999;*/
/*    top:0;*/
/*    left:0;*/
/*    right:0;*/
/*    bottom:0;*/
/*    background:*/
/*            radial-gradient(farthest-side ,#fff 99%,transparent 100%)*/
/*            calc(var(--x) - 20em) calc(var(--y) - 20em)/40em 40em  fixed no-repeat;*/
/*    mix-blend-mode:difference;*/
/*}*/


.who-we-are {
    margin-left: 10%;
    width: 40vw;
    color: white;
    line-height: 1.8em;
    font-size: min(2.1vw, 35px)
}

.who-we-are span {
    color: var(--red);
    font-weight: 400;
}

.p3 {
    z-index: 1;
    overflow: hidden;
    /*background-color: var(--nearblack)*/
}

.grid-container {

    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
    background-color: var(--nearblack);
    padding: 5px;
    transition: 2s;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    transition: 2s;
}

.flex-grid {
    z-index: 1;
    height: 100vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    transition: 1s;
    padding-left: 5vw;
}

.row {
    flex: 1;
    width: 95vw;
    display: flex;
    transition: flex .3s ease-in .2s;
}

.row + .row {
    margin-top: -1px;
}

.col {
    flex-basis: 100%;
    width: 25%;
    border: 1px solid rgba(0,0,0,.3);
    flex: 1 1 0px;
    transition: .3s linear all 0s, filter .3s ease, flex .3s ease-in .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    /*transform: scale(.1)*/
}

.col svg {
    max-width: 30%;
    max-height: 30%;
}


.selected {
    transition: .3s linear all .1s, flex .3s ease-in .2s;
}

.col + .col {
    margin-left: -1px;
}

.col:hover svg path {
    transition: .1s;
    fill: white;
}

.case-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.case-text {
    color: rgba(255,255,255,.9);
    max-height: 0px;
    opacity: 0;
    overflow-y: hidden;
    margin-top: 0px;
    max-width: 0;
    transition: all .2s linear .2s, opacity .2s linear 0s, margin-top .4s linear .2s;
}

.col.selected .case-text {
    margin-top: 50px;
    margin-bottom: 30px;
    max-height: 30vh;
    max-width: min(70%, 700px);
    opacity: 1;
    transition: .3s linear all .7s, margin-top .4s linear .5s, max-width 0s linear 0s;
}

.case-body {
    overflow-y: scroll;
    max-height: 20vh;
}

.case-text p {
    color: rgba(255,255,255,.8);
}

.col.selected .case-content svg path {
    transition: .5s;
    fill: rgba(255,255,255,.7);
}

.case-tags {
    font-size: 80%;
    color: rgba(255,255,255,.8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 0px;
    opacity: 0;
    margin-top: 0px;
    overflow-y: scroll;
    max-width: 0;
    transition: all .2s linear .2s, opacity .2s linear 0s, margin-top .4s linear .2s;
}

.col.selected .case-tags {
    margin-top: 40px;
    max-height: 10vh;
    max-width: 70%;
    opacity: 1;
    transition: .3s linear all .7s, margin-top .4s linear .5s, max-width 0s linear 0s;
}

.case-tags span {
    background-color: rgba(255,255,255,.1);
    padding: 2px 15px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
}


.case-button {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    max-height: 0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 23px;
    line-height: 40px;
    padding-top: 10px;
    letter-spacing: .2rem;
    opacity: 0;
    margin-bottom: 0;
    background-color: #00A8E0;
    margin-top: 0px;
    overflow-y: scroll;
    max-width: 0;
    transition: all .2s linear .2s, opacity .2s linear 0s, margin-top .4s linear .2s;
}

.case-body {
    -webkit-mask-image: linear-gradient(to top, transparent, transparent 0%, black 20%, black 100%);
/*, linear-gradient(to left, black, black 5%, transparent 5%, transparent 100%)*/
    mask-image: linear-gradient(to top, transparent, transparent 0%, black 16%, black 100% );
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    padding-bottom: 20px;
}

.col.selected .case-button {
    margin-top: 40px;
    text-align: center;
    max-height: 10vh;
    max-width: 100%;
    height: 50px;
    width: 100%;
    opacity: 1;
    transition: .3s linear all .7s, margin-top .4s linear .5s, max-width 0s linear 0s;
}


.meta:hover {
    background-color:#0467E0;
}

.meta.selected {
    background-color:#0467E0;
}

.google:hover {
    background-color:#E43E2B
}

.google.selected {
    background-color:#E43E2B
}

.looker:hover {
    background-color:#4285F4
}

.looker.selected {
    background-color:#4285F4
}

.ibm:hover {
    background-color:#0530AD
}

.ibm.selected {
    background-color:#0530AD
}

.visa:hover {
    background-color:#102077
}

.visa.selected {
    background-color:#102077
}

.nerdwallet:hover {
    background-color:#8CCB32
}

.nerdwallet.selected {
    background-color:#8CCB32
}

.nokia:hover {
    background-color:#124191
}

.nokia.selected {
    background-color:#124191
}

.atnt:hover {
    background-color: #00A8E0;
}

.atnt.selected {
    background-color: #00A8E0;
}

.yellowbrick:hover {
    background-color:#FECF41;
}

.yellowbrick.selected {
    background-color:#FECF41;
}

.sofi:hover {
    background-color:#00AACE
}

.sofi.selected {
    background-color:#00AACE
}

.infosys:hover {
    background-color:#077CC3
}

.infosys.selected {
    background-color:#077CC3
}

.vmware:hover {
    background-color:#78BE20
}

.vmware.selected {
    background-color:#78BE20
}

.p4 {
    /*background-color: white;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 3;
    /*background-image: url('/images/woman speaking.jpeg');*/
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/woman speaking.jpeg');
    background-size: cover;
}

.testimonial-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/woman speaking.jpeg');
    z-index: 4;
}

.testimonial {
    font-size: 30px;
    color: white;
    width: 70vw;
    z-index: 5;
    line-height: 1.8em;
    text-align: center;
    margin: 50px 0px;
}

.testimonial:before {
    content: '"';
    font-weight: 600;
    color: var(--red);
    font-size: 80px;
    position: relative;
    left: -20px;
    top: 25px;
}

.testimonial:after {
    content: '"';
    font-weight: 600;
    color: var(--red);
    font-size: 80px;
    position: relative;
    left: 40px;
    top: 40px;
}

.play-outer {
    border-radius: 100%;
    border: 2px solid white;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 6;
}

.play-inner {
    margin: 0 auto;
    top: 28%;
    left: 5%;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 0 17px 26px;
    border-color: transparent transparent transparent #ffffff;
    opacity: 1;
    transition: .5s;
}

.play-outer:hover {
    background-color: white;
}

.play-outer:hover .play-inner {
    border-color: transparent transparent transparent var(--red);
}

.p5-p6-overflow {
    width: 100%;
    height: calc(100vh + .707 * 22.5vw);
    padding-top: calc(.707 * 22.5vw);

    position: relative;
    background-color: var(--activeProcess);
}

#p5-p6-wrapper {
    width: 100%;
    height: calc(100vh + .707 * 22.5vw);
    overflow-x: hidden;
    overflow-y: visible;
    -webkit-perspective: 1000;
    perspective: 1000;
    padding: 3px 0 10vh 0;
    background-color: var(--activeProcess);
}


.slide-container {
    width: 200vw;
    height: 80vh;
    x: 0;
}

.p5 {
    float: left;
    background-color: var(--activeProcess);
    height: unset;
    transition: .3s;
    width: 100vw;
}

.process-grid {
    width: 100vw;
    display: flex;
    flex-direction: column;
    transition: .3s;
}

.process-row {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: calc(.707 * 22.5vw * 2);
}

.outline-logo {
    z-index: 100;
    width: 45vw;
    position: relative;
    overflow: visible;
    height: calc(.707 * 22.5vw * 2);
}

.outline-logo-container {
    z-index: 100;

    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
}


.bbHalf {
    width: 22.5vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.bbLine {
    border: 1px solid var(--activeProcessB);
    width: calc(.186 * 22.5vw);
    height: calc(.707 * 22.5vw * 2)
}

.bbCircle {
    border-radius: 100%;
    margin: 0 calc(.055 * 22.5vw);
    border: 1px solid var(--activeProcessB);
    width: calc(.704 * 22.5vw);
    height: calc(.704 * 22.5vw);
    position: relative;
}

.extra-line:after {
    content: '';
    width: calc(50% + calc(.055 * 22.5vw));
    height: 1px;
    background: var(--activeProcessB);
    position: absolute;
    left: 50%;
    top: -1px;
}

.bbCircleContainer {
    display: flex;
    flex-direction: column;
}

.spacer-box {
    width: 22.5vw;
    height: calc(80vh / 3);
    border: 1px solid var(--activeProcessB);
    margin-left: -1px;
}

.methodology {
    width: 45vw;
    height: calc(80vh / 3);
    border: 1px solid var(--activeProcessB);
    border-radius: 1000px 0 0 0;
    margin-left: -1px;
    position: relative;
    border-right: none;
}

.methodology span {
    position: absolute;
    transition: .3s;
    bottom: 5vh;
    left: 5vw;
    font-size: 6vw;
    font-weight: 600;
    color: var(--activeProcess);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--activeProcessB);
}

.outline {
    border: 1px solid var(--activeProcessB);
    margin-left: -1px;
    margin-top: -1px;
}

.outer-column {
    width: 5vw;
    height: calc(80vh / 3);
}

.top-right {
    /*border-right: none;*/
    /*border-left: none;*/
    border-bottom: 1px solid var(--activeProcess);
    margin-top: -1px;
    transition: .3s all;
}

.inner-column {
    width: 22.5vw;
}

.process-row-2 {
    width: 100vw;
    display: flex;
    height: calc(80vh / 3 * 2);
    flex-direction: row;
    align-items: flex-start;
    transition: .3s;
}

.process-button-container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: calc(22.5vw + .5px);
    padding: 0;
    height: 100%;
    margin-right: -1px;
    margin-top: -1px;
    position: relative;
}

.process-button {
    position: absolute;
    width: calc(100% - 2px);
    border: 1px solid var(--activeProcessB);
    color: var(--activeProcessB);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    transition: border-radius .3s ease .1s, height .3s ease, background-color .3s

}

.button-selected {
    height: calc(80vh / 5 + 22.5vw / 2 + .5px);
    border-radius: 0 0 1000px 1000px;
    transition: border-radius .4s ease, height .3s ease .1s
}

.process-button span {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 23px;
    letter-spacing: .2rem;
}

.selectedP {
    position: relative;
}

.selectedP span {
    display: none;
}

/*.selected-tab {*/
/*    display: none;*/
/*    top: 99px;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: calc(100px + calc(22.5vw / 2));*/
/*    border-radius: 0 0 1000px 1000px;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background-color: var(--activeProcess);*/
/*    color: var(--activeProcessB);*/
/*    border: 1px solid var(--activeProcessB);*/
/*    border-style: none solid solid solid;*/
/*}*/

.selected-tab span {
    display: block;
}

.selectedP .selected-tab {
    display: flex;
}

.selected-tab-text {
    opacity:0;
    transition: .3s;
}
.data:hover {
    background-color: var(--process2);
    color: var(--process2B)
}

.strategy:hover {
    background-color: var(--process1);
    color: var(--process1B);
}

.design:hover {
    background-color: var(--process3);
    color: var(--process3B)
}

.technology:hover {
    background-color: var(--process4);
    color: var(--process4B);
}


.process-row-3 {
    width: 100vw;
    height: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    transition: .3s;
}

.process-row-4 {
    margin-top: .5px;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.outer-column-2 {
    width: 5vw;
    height: 100%;
}

.process-text {
    color: var(--activeProcessB);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border: 1px solid var(--activeProcessB);
    border-top: none;
    width: 90vw;
    height: 100%;
    margin-top: -1px;
    /*background: repeating-linear-gradient(*/
    /*        45deg,*/
    /*        rgba(255,255,255,.2),*/
    /*        rgba(255,255,255,.2) 1px,*/
    /*        var(--nearblack) 1px,*/
    /*        var(--nearblack) 30px*/
    /*);*/
}


.process-text-under {
    color: var(--activeProcessB);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border: 1px solid var(--activeProcessB);
    width: 90vw;
    height: 100%;
    margin-top: -1px;
   }

.process-text span {
    font-size: 18px;
    width: 60%;
    margin-top: 240px;
    margin-bottom: 100px;
    transition: .1s;
}


.p6 {
    background-color: var(--activeProcess);
    height: auto;
    transition: .3s;
    float: left;
    width: 100vw;
}

.outer-column-p6 {

}


.capabilities-grid {
    width: 100vw;
    display: flex;
    height: 80vh;
    flex-direction: row;
    transition: 1s;
    margin: 0px auto;
    margin-top: calc( calc(.707 * 22.5vw * 2) - 80vh/3 - 1px);
}


.half-column {
    width: 45vw;
    height: calc(80vh + 2px);
    display: flex;
    flex-direction: column;
}

.capabilities-row {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.we-offer {
    position: relative;
}

.we-offer span {
    position: absolute;
    bottom: 4.5vh;
    left: 2vw;
    font-size: 6vw;
    font-weight: 600;
    color: var(--activeProcess);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--activeProcessB);
}

.capability {
    margin-top: -1px;
    margin-left: -1px;
    flex: 1;
    border: 1px solid var(--activeProcessB);
    font-size: 25px;
    font-weight: 500;
    color: var(--activeProcessB);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: flex .2s linear;
    cursor: pointer;
}

.brandStrategy:hover {
    background-color: var(--process2);
    color: var(--process2B)
}

.advertising:hover {
    background-color: var(--process1);
    color: var(--process1B);
}

.productDesign:hover {
    background-color: var(--process3);
    color: var(--process3B)
}

.consulting:hover {
    background-color: var(--process4);
    color: var(--process4B);
}

.tech:hover {
    background-color: var(--process2B);
    color: var(--process2)
}

.marketingServices:hover {
    background-color: var(--process1B);
    color: var(--process1);
}



.selectedC {
    flex: 5;
}

.capability span {
    font-size: 18px;
    font-weight: 300;
    width: 80%;
    max-height: 0px;
    opacity: 0;
    margin-top: 0px;
    transition: .2s linear all 0s, margin-top .2s linear 0s;
}

.capability.selectedC span {
    margin-top: 40px;
    opacity: 1;
    max-height: 50vh;
    transition: .2s linear all .3s, max-height .3s linear .2s, margin-top .2s linear .2s;

}


.up-curve {
    border-radius: 0 0 100% 0;
    border-left: none;
}

.down-curve {
    border-radius: 0 100% 0 0;
}

.hamburger-menu-button {
    display: none;
}

.p7 {
    background-color: var(--nearblack);
    z-index: 1;
    position: relative;
}

#contactLogoContainer {
    width: 100%;
    height: 100%;
    position: absolute;
}

.contact-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 101;
    background-color: rgba(0,0,0,0);
    transition: .5s all;
}


.email {
    border: 1px solid white;
    display: block;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: .2rem;
    line-height: 1em;
    background-color: var(--nearblack);
    cursor: pointer;
    transition: .3s all linear 0s, transform .5s linear .3s;
    position: relative;
    z-index: 100;
    width: 500px;
    height: 80px;
}

.email-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 100;
    color: white;
}

.email:hover {
    border: none;
}

.email-background {
    transition: .2s all linear .1s, box-shadow .5s linear .3s;
    background-color: var(--red);
    position: absolute;
    height: 100%;
    width: 0%;
    z-index: 0;
    box-shadow: 0px 0px 0px 0px rgba(240,78,55, 0);
}

.email:hover .contact-body {
    background-color: rgba(0,0,0,.5)
}

.footer {
    height: 20vh;
    padding: 40px;
    background-color: var(--nearblack)
}

.footer-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 60%;
    margin: 0px auto;
    padding-top: 30px;
    justify-content: space-between;
    border-top: 1px solid white;
    color: white;

}

.footer-address p {
    line-height: 1em;
    margin: 8px 0;
}

.footer-logo {
    height: 100px;
    width: 200px;
}

.footer-pages {
    line-height: 1em;
}

#c {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -10;
}

html {
    scroll-behavior: smooth;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */


    #sidebar {
        width: 100vw;
        height: 50px;
        left: -100vw;
    }

    .bb-logo {
        height: 30px;
        width: 30px;
        left: -100px;
        top: 10px;
    }

    #sidebar-text {
        transform: rotate(0);
        top: -50px;
        font-size: 20px;
        left: 30vw;
    }

    .hero {
        width: 80vw;
        top: 50vh;
    }

    .hero-text {
        font-size: 7.5vw;
    }

    #p1 {
        height: 80vh;
    }

    .video-logo-wrapper {
        position: absolute;
        width: 70vw;
        height: calc(70vw * .56);
        right: unset;
        left: 5vw;
        top: 30vh;
    }

    #video {
        width: 70vw;
        height: calc(70vw * .56);
    }

    .logo {
        width: 100px;
        left: 20px;
        top: 10px;
    }

    .who-we-are {
        width: 80vw;
        font-size: 6vw;
    }

    #p3 {
        height: unset;
    }

    .flex-grid {
        padding-left: 0;
        width: 100vw;
        height: unset;
    }

    .row {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    #row1 {
        width: 100vw;
        display: flex;
        /*flex-direction: row;*/
        flex-wrap: wrap;
    }

    .col {
        flex: 49%;
        width: 50vw;
        height: 16.66vh;
    }

    .col.selected {
        flex: 100%;
        height: 80vh;
    }

    .col + .col {
        margin-top: 0px;
        margin-left: 0px;
    }

    .col1and2 {
        flex: 100%;
        width: 100vw;
    }

    .col3and4 {
        margin-top: -1px!important;
        flex: 100%;
        width: 100vw;
    }

    .col2 {
        margin-left: -1px!important;
    }

    .col3 {
        margin-top: -1px!important;
    }

    .col4 {
        margin-left: -1px!important;
        margin-top: -1px!important;
    }


    .case-content svg {
        /*margin-top: 30px;*/
    }

    .case-body {
        max-height: 30vh;
    }

    .col.selected .case-text {
        max-width: 85%;
        margin-top: 20px;
        max-height: 40vh;
        margin-bottom: 20px;
    }

    .case-text {
        -webkit-mask-image: linear-gradient(to top, transparent, transparent 0%, black 15%, black 100%);
        mask-image: linear-gradient(to top, transparent, transparent 0%, black 16%, black 100% );
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }


    .case-body::-webkit-scrollbar {
        display: none;
    }

    .col.selected .case-tags {
        max-width: 100%;
        max-height: 50px;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        margin-top: 10px;
    }

    .case-tags::-webkit-scrollbar {
        display: none;
    }

    .case-tags {
        flex-wrap: nowrap;
        padding-left: 10%;
    }

    .case-tags span {
        height: auto;
    }

    .col.selected .case-button {
        max-height: 7vh;
    }

    .case-button {
        font-size: 18px;
    }

    .menu {
        flex-direction: column;
    }

    .menu-option span {
        transform: rotate(0);
    }

    .hamburger-menu-button {
        display: inline;
        position: fixed;
        right: 30px;
        top: 10px;
        font-size: 20px;
        z-index: 20;
        transition: .3s all;
    }

    .menu-x {
        font-size: 30px;
        right: 30px;
        top: 10px;
        width: unset;
        height: unset;
    }

    .email {
        width: 80%;
    }

    #p5-p6-wrapper {
        height: unset;
        overflow-y: unset;
        overflow-x: unset;
    }

    .slide-container {
        width: 100%;
    }

    .process-row-2 {
        flex-direction: column;
    }

    .process-button-container {
        width: 100%;
    }


}
